.headBacker {
	width: 100%;
	height: 750px;
	background-color: black;

	.headWrap {
		width: 100%;
		height: 750px;
		background-color: black;
		background-image: url(../img/p59iu53fw0s51.png);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;

		.contentWrap {
			width: 85%;
			margin: 0 auto;
			display: flex;
			justify-content: space-between;

			.broodin {
				width: 45%;
				height: 750px;
				background-image: url(../img/broodin.png);
				background-position: center;
				background-repeat: no-repeat;
				opacity: 1;
				background-size: cover;
			}

			.welcomeText {
				width: 45%;
				height: 750px;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				h1 {
					color: white;
					font-size: 3rem;
				}

				h2 {
					color: white;
					font-size: 2.5rem;
					margin-top: 30px;
				}

				h3 {
					color: white;
					font-size: 2rem;
					margin-top: 30px;
				}
			}
		}
	}
}
