.homeWrap {
	margin: 0 auto;
	width: 97%;
	margin-bottom: 50px;

	.titleWrap {
		text-align: center;

		h1 {
			font-size: 3.8rem;
			font-weight: bold;
			text-decoration: underline;
		}
	}

	p {
		font-size: 2.2rem;
		margin-top: 30px;
	}

	.first {
		font-weight: bold;
	}
}
